In [7]:
import pandas as pd

In [13]:
## creating a dataframe 
dt_data = pd.DataFrame({'Names':['bala','sani','audu','shehu','usman'],
                        'Age':['23','29','31','34','27']},
                        index=['a','b','c','c','d'])

In [14]:
dt_data

   Names Age
a   bala  23
b   sani  29
c   audu  31
c  shehu  34
d  usman  27

In [8]:
dt2 = pd.DataFrame({'apple':['30','12'],'orange':['50','43'],'mango':['40','37']},
                    index = ['2017 sales','2018 sales'])

In [9]:
dt2

           apple orange mango
2017 sales    30     50    40
2018 sales    12     43    37

In [5]:
## creating a list
planets = ['Mercury','Venus', 'Earth','Mars','Jupyter','Saturn','Uranus','Neptune']

In [2]:
## adding items to the list
planets[:3] = ['Mur','vee','ur']
print(planets)

['Mur', 'vee', 'ur', 'Mars', 'Jupyter', 'Saturn', 'Uranus', 'Neptune']

In [4]:
## extracting the some items from a list
planets[:4]

['Mercury', 'Venus', 'Earth', 'Mars']

In [6]:
## sorting the list
sorted(planets)

['Earth', 'Jupyter', 'Mars', 'Mercury', 'Neptune', 'Saturn', 'Uranus', 'Venus']

In [9]:
## adding an item to a list
planets.append('pluto')

In [10]:
print(planets)

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupyter', 'Saturn', 'Uranus', 'Neptune', 'pluto']

In [17]:
## know the index position of an item in a list
planets.index('Earth')

2

In [20]:
planets.index('Jupyter')

4

In [21]:
## checking if an item is present in a list
'Mars'in planets

True

In [22]:
'Mask'in planets

False

In [23]:
## checking the length of a list
len(planets)

8

In [25]:
## removing the space in a list
planets = ['Mercury','Venus', 'Earth','Mars','Jupyter','Saturn','Uranus','Neptune']
for planet in planets:
    print(planet, end='')

MercuryVenusEarthMarsJupyterSaturnUranusNeptune

In [2]:
## calculating the area of a circle
d = 3
r = d/2
pi = 3.142
area = (pi*r**2)
print(area)

7.0695

In [20]:
## alternative method of calculating the area of a circle
def area(pi,r):
    return(pi*r**2)
print(area(3.142,1.5))

7.0695