In [ ]:
#A manufacturer of motocycle exhaust systems wants to test it new exhaust system to determine
#wether it meets state air pollution standards.The mean emission of all motor-cycle exhaust systems
#of these type most be less than 20 parts per million.Fourteen exhausts systems are  manufactured for
##Do the data supply sufficeint evidence to allow the manufacturer conclude that the new exhaust 
#system for motorcycles to meet the population standard? Assume that the manufacturer has set the 
#level of significance to 1%
 17 16 20 18 16 19 22 13 15 17 21 14 18 12

In [ ]:
#case study 
H0  u1 = 20
H1  u2 <20
Level significance : 0.01

In [1]:
# importing stats package
from scipy import stats
import pandas as pd

In [2]:
# one sample t-test
Exh_Sys = [17,16,20,18,16,19,22,13,15,17,21,14,18,12]

In [3]:
stats.ttest_1samp(Exh_Sys,20)

Ttest_1sampResult(statistic=-3.824264635194589, pvalue=0.002107952030412446)

In [4]:
# from the p-value which is 0.0021 it which is 2.1% is less than 0.01. we reject the null value and 
#conclude that the mean emission of all motor-cycle exhaust system is less than 20 parts per million.

In [5]:
# Two sample independent T-test

# Do the students in the morning class perform better in mathematics than the students in Evening 
#class?
#using 5% level of significance

In [16]:
#import the libraries
import statsmodels.api as sm
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import scale
import warnings
from scipy import stats
%matplotlib inline

In [17]:
# importing dataset
dt = pd.read_csv("C:/Users/user/Documents/ClassData.csv",header=0,sep=",")

In [18]:
dt

    MornClass  EveClass
0          80        79
1          82        83
2          71        73
3          90        77
4          69        84
5          75        90
6          78        91
7          87        95
8          95        80
9          98        94
10         84        87
11         82        67
12         93        88
13         85        92

In [19]:
# morning class scores
MornClass = [82,71,90,69,75,78,87,95,98,84,82,93,85]
# evening class scores
EveClass = [83,73,77,84,90,91,95,80,94,87,88,92]

In [20]:
dt.info

<bound method DataFrame.info of     MornClass  EveClass
0          80        79
1          82        83
2          71        73
3          90        77
4          69        84
5          75        90
6          78        91
7          87        95
8          95        80
9          98        94
10         84        87
11         82        67
12         93        88
13         85        92>

In [ ]:
#Levene's test to check whether the variances of the two group are same.
#H0 : Variances are same.
#H1 : Variances are not same.
#Alpha = 0.05%
#if p-value > alpha (Cannot reject H0)
#if p-value < alpha (Accept null hypothesis)

In [21]:
stats.ttest_ind(MornClass,EveClass)

Ttest_indResult(statistic=-0.7445699300683629, pvalue=0.46407210973396706)

In [53]:
alpha = 0.05
Stats,Pvalue = stats.levene(MornClass,EveClass)
print(f' Test statistics : {Stats} \n Alpha : {alpha} \n P-value : {Pvalue}')
if Pvalue > alpha:
    print('  accept null hypothesis ')
else:
    print('  reject not null hypothesis ')

 Test statistics : 0.6331764705882352
 Alpha : 0.05
 P-value : 0.4343286519943731
  accept null hypothesis

In [ ]:
#since the p-value is 0.464 which is above the level of significance we accept the null value
#and conclude that the students taking mathematics in the morning class do not perform more than
#those in the evening class

In [25]:
# ANOVA TEST
#checking if the mean between two data samples are significantly independent and different

In [26]:
#using the same ClassData for Anova test.

In [3]:
import pandas as pd
import numpy as np

import scipy.stats as stats
import os
import random

import statsmodels.api as sm
import statsmodels.stats.multicomp

from statsmodels.formula.api import ols
from statsmodels.stats.anova import anova_lm
import matplotlib.pyplot as plt
from scipy import stats
import seaborn as sns

In [42]:
# importing dataset
dt = pd.read_csv("C:/Users/user/Documents/ClassData.csv",header=0,sep=",")

In [43]:
dt

    MornClass  EveClass
0          80        79
1          82        83
2          71        73
3          90        77
4          69        84
5          75        90
6          78        91
7          87        95
8          95        80
9          98        94
10         84        87
11         82        67
12         93        88
13         85        92

In [50]:
# morning class scores
MornClass = [82,71,90,69,75,78,87,95,98,84,82,93,85]
# evening class scores
EveClass = [83,73,77,84,90,91,95,80,94,87,88,92]

In [51]:
fvalue, pvalue = stats.f_oneway(dt['MornClass'], dt['EveClass'])
print(fvalue, pvalue)

0.060072560626312776 0.808305501585584

In [52]:
# Ordinary Least Squares (OLS) model
model = ols('MornClass ~ EveClass', data=dt).fit()
anova_table = sm.stats.anova_lm(model, typ=2)
anova_table

              sum_sq    df         F    PR(>F)
EveClass   62.240102   1.0  0.817819  0.383615
Residual  913.259898  12.0       NaN       NaN

In [ ]:
#from our output the pvalue is 0.808 which is higher than 0.05 this depicts that there is an
# insignificant difference in the mean of the morning class and that of the evening class as
#such,the null hypothesis is accepted.The Fvalue is inversely related to the pvalue this means
#the lower the fvalue indicts the insignificance difference  in the mean of the two varibles.

In [ ]:
#Chi square test is a test for independence between two categorical variables

In [4]:
dt = pd.read_csv("C:/Users/user/Documents/pet.csv",header=0,sep=",")

In [5]:
dt

  Unnamed: 0  Dogs  Cats  Birds  Total
0        Men   207   282    241    730
1      Women   234   242    232    708
2      Total   441   524    473   1438

In [ ]:
#the aim of the test is to check if the to variables 'gender'and 'pets'are related.

In [12]:
from scipy.stats import chi2_contingency

In [16]:
 # defining the table
dt = [[207, 282, 241], [234, 242, 232]]
stat, p, dof, expected = chi2_contingency(dt)

In [17]:
# interpret p-value
alpha = 0.05
print("p value is " + str(p))
if p <= alpha:
    print('Dependent (reject H0)')
else:
    print('Independent (H0 holds true)')

p value is 0.1031971404730939
Independent (H0 holds true)

In [ ]:
The pvalue which is greater than 0.05 shows that there is no relati independent